<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .container-box {
        display: flex;
        justify-content: center;
    }
    .container {
        min-width: 800px;
    }
</style>
<template>
    <div class="container-box">
        <div class="container">
            <h1>{{ msg }}</h1>
            <swiper :images="images"></swiper>
        </div>
    </div>

</template>

<script>
import Swiper from './swiper.vue'

export default {
    name: 'hello',
    data () {
        return {
        msg: 'Nice Girl',
        images: [
            'http://ow5nqfa5j.bkt.clouddn.com/imgPPT3.png'
        ],
    }
    },
    components: {
        Swiper
    },
    created: function () {
        console.log("begin");
      this.testAjax();
    },
    methods:{
        testAjax: function() {
            this.$http({
                method: 'get',
                url: '/text',
            }).then(response => {
                console.log("begin");
                console.log(response.data["address"]);
                this.images = response.data["address"];
            }).catch(error => {
                console.log("error:"+error);
            });
        }

    }
}
</script>

